table.semester {
	font-family: Verdana, Arial, Helvetica, sans-serif;	
}

table.semester a {
	text-decoration: none;
	color: #336699;
}

table.semester tbody {
	vertical-align: top;
}

table.semester th{
	background-color: #F4F4F4;
}

table.semester tr.course a.coursenr {
	color: #BBBBBB;
}

table.semester tr.coursemeta div:first-child {
	margin: 5px 0 10px 0;
	padding: 0 5px 10px 5px;
	border-top: 1px dashed #336699;
	border-bottom: 1px dashed #336699;
}